<!DOCTYPE html>
<html lang="en">

<head>
    <title>DIT</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/logo_fav.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <script src="js/project_instelling.js"></script>
</head>
<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index.html"><img src="images/logo4.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <ul>
                            <li class="ed-mm-menu-icon"><a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a></li>
                            <li class="ed-mm-menu-icon" id="winkelwagentje_icon_mobile"><a href="winkelwagentje.html">
                                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                                <span class="badge bg-danger ms-2" id="mob-badge"></span></a>
                            </li>
                        </ul>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Navigatie</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="all-courses.html">Cursussen</a></li>
                                <li class="about-menu"><a href="about.html" class="mm-arr">Over Ons</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                            <h4>Aanmelden</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal_bezoeker_inloggen">Inloggen</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal_bezoeker_registreren">Registreren</a>
                                </li>
                            </ul>
                            <h4>Admin</h4>
                            <ul>
                                <li>
                                    <a href="admin-login.html">Beheerder Inloggen</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


       <!--HEADER SECTION-->
       <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li>
                                    <a href="admin-login.html">Beheerder Inloggen</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal_bezoeker_inloggen">Inloggen</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal_bezoeker_registreren">Registreren</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo3.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="all-courses.html">Cursussen</a></li>
                                <li class="about-menu"><a href="about.html" class="mm-arr">Over Ons</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                                <li><a href="winkelwagentje.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="badge bg-danger ms-2" id="cart-badge"></span></a>
                                </li>
                                <!-- Button triggers collapse -->
                                <!--
                                <a data-mdb-toggle="collapse"
                                    href="#collapseWithScrollbar"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="collapseExample"
                                    >
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                -->

                                <!-- Collapsed content -->
                                <!--
                                <div class="collapse mt-3 scroll-section" id="collapseWithScrollbar"  style="max-width: 400px; position: absolute;">
                                    <p class="bg-danger">Jouw winklewandje is leeg</p>
                                </div>
                                -->

                                <!--div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                  </div-->
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="input_cursus_naam" placeholder="Cursus Titel" />
                                    </div>
                                    <!--div class="sf-list">
                                        <ul>
                                            <li><a href="course-details.html">ICT</a></li>
                                            <li><a href="course-details.html">Talen</a></li>
                                            <li><a href="course-details.html">Mode & Decoratie</a></li>
                                        </ul>
                                    </div-->
                                </div>
                                <div class="sf-submit">
                                    <input type="button" value="Zoek Cursus" id="button_cursus_zoek">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
    
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor" id="cursus-zoek-rusaltaat">
                    <div class="col-md-3 col-sm-3">
                        <div class="cor-top-deta cor-side-com">
                            <div class="cor-top-deta">
                                <div class="ho-st-login cor-apply field-com">
                                    <div class="col s12">
                                        <div class="cor-mid-img" id="cursus_beeld">
                                            <!--span class="inverkoop">In Verkoop</span-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="cor-con-mid">
                            <div class="container-fluid col-md-12" id='cursus-detail'>
                                    <!-- cursus detail-->
                            </div>
                            <div class="container-fluid col-md-12" id='cursus-gerelateerd'>
                                    <!-- gerelateerdcursussen-->
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!--HEADER SECTION-->
    <section class="wed-hom-footer">
        <div class="container">
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--HEADER SECTION-->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="https://www.DIT.be">DIT</a>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!-- MODAL AANKOOP-->

    <div
    class="modal fade"
    id="verder_bestellen_of_winkelen"
    tabindex="-1"
    aria-labelledby="modal_product_verwijderen"
    aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" /></a>
                            <div class="success_boodschap col-md-12">
                                <p><i class="fas fa-check-circle fa-2x"></i>  Het artikel is toegevoegd aan je winkelwagen</p>
                            </div>
                        </h5>
                        <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" /></a>
                    </div>
                    <div class="modal-body">                            
                        <div class="form-outline mb-4">
                            <button
                            type="button" 
                            class="btn btn-primary">
                            <a href="winkelwagentje.html">Verder naar bestellen ?</a>
                            </button>
                            <button
                                type="button" 
                                class="btn btn-default" >
                                <a href="all-courses.html">Of verder winkelen ?</a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal_bezoeker_inloggen" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welkom bij DIT</h1>
                    <p>
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_bezoeker_registreren">Heb je geen account ? Maak een account aan.</a>
                    </p>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Inloggen</h4>
                    <p>Bestaande klanten</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="email" data-ng-model="email" class="validate" required>
                                <label>E-mail adres</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate" required>
                                <label>Wachtwoord</label>
                            </div>
                        </div>
                        <div> 
                            <div class="input-field s12"> 
                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_wachtwoord_vergeten">Wachtwoord vergeten ?</a>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Inloggen" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal_bezoeker_registreren" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welkom bij DIT</h1>
                    <p>Om je account te activeren vragen we volgende instellingen aan te passen.
                    </p>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_bezoeker_inloggen">Heb je een account ? Hier inloggen</a> </div>
                    </div>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" /></a>
                    <h4>Maak een account aan</h4>
                    <form class="s12">
                        <div class="col-md-12">
                            <div>
                                <div class="input-field s12">Persoonlijke gegevens</div>
                            </div>
                            <div>
                                <div class="s12 log-ch-bx">
                                    <input type="checkbox" id="ik_ben_bedrijf" />
                                    <label for="ik_ben_bedrijf">Ik ben een bedrijf</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12 form_bedrijf">
                                    <input type="text"  class="validate" id="btw_nummer">
                                    <label for="btw_nummer">BTW-nummer</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12 form_bedrijf">
                                    <input type="text"  class="validate" id="naam_bedrijf">
                                    <label for="naam_bedrijf">Naam (bedrijf)</label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 input-field s12 form_bedrijf">
                                    <input type="text"  class="validate" id="adres_bedrijf">
                                    <label for="adres_bedrijf">Adres (bedrijf)</label>
                                </div>
                                <div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                        <input type="number" data-ng-model="name1" id="postcode_bedrijf" min="1000" max="9999" class="validate">
                                        <label for="postcode_bedrijf">Postcode (bedrijf)</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                        <input type="text" data-ng-model="name1" id="registreren_stad_bedrijf" class="validate">
                                        <label for="registreren_stad_bedrijf">Stad (bedrijf)</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                    <input type="text"  class="validate" id="registreren_naam" required>
                                    <label for="registreren_naam">Naam *</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                    <input type="text" data-ng-model="name2" class="validate" id="registreren_voornaam" required>
                                    <label for="registreren_voornaam">Voornaam *</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12 input-field s12">
                                    <input type="text" data-ng-model="name3" id="registreren_adres" class="validate">
                                    <label for="registreren_adres">Adres</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                    <input type="number" data-ng-model="name1" id="postcode" min="1000" max="9999" class="validate" required>
                                    <label for="postcode">Postcode *</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                    <input type="text" data-ng-model="name1" id="registreren_stad" class="validate" required>
                                    <label for="registreren_stad">Stad *</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s12">
                                    <input type="tel" data-ng-model="name1" id="registreren_phone" name="phone" pattern="[0-9]{10}" class="validate">
                                    <label for="registreren_phone">Telefoon</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="input-field s12">Inloggegevens</div>
                            </div>
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12 input-field s6">
                                    <input type="email" id="registreren_email" class="validate" required>
                                    <label for="registreren_email">Email adres *</label>
                                </div>
                            </div>
                            <!--
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s6">
                                    <input type="email" class="validate" required>
                                    <label>Bevestig Email adres *</label>
                                </div>
                            </div>
                            -->
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12 input-field s6">
                                    <input type="password" id="registreren_paswoord"class="validate" required>
                                    <label for="registreren_paswoord">Wachtwoord *</label>
                                </div>
                            </div>
                            <!--
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-12 input-field s6">
                                    <input type="password" class="validate" required>
                                    <label>Bevestig Wachtwoord *</label>
                                </div>
                            </div>
                            -->
                            <div>
                                <div class="s12 log-ch-bx">
                                    <p>
                                        <input type="checkbox" id="gdpr3" required>
                                        <label for="gdpr3"> Ik ga akkoord om per e-mail op de hoogte te blijven van andere evenementen of 
                                            aanbiedingen. *</label>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="s12 log-ch-bx">
                                    <p>
                                        <input type="checkbox" id="gdpr4" required>
                                        <label for="gdpr4">Ik ga akkoord dat de gegevens enkel mogen gebruikt worden voor behandeling van 
                                            inschrijving en boekhouding. *</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-field s4">
                                <input type="submit" value="Verzenden" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div class="col-md-12">
                            <p class="verplicht">* verplichte velden</p>
                        </div>
                        <div class="boodschap col-md-12">
                            <div class="success_boodschap col-md-12">
                                <p><i class="fas fa-check-circle fa-2x"></i></p>
                                <p>Uw account is nu aangemaakt !
                                    <br> Er zal u een e-mail worden gestuurd om dit te bevestigen.
                                </p>
                            </div>
                            <div class="fout_boodschap col-md-12">
                                <p><i class="fas fa-times-circle fa-2x"></i></p> 
                                <p>Er was een probleem.
                                    <br>Probeer het later nog eens of neem contact met ons op.
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal_wachtwoord_vergeten" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Welkom terug ! </h1>
                    <p> 
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_bezoeker_registreren">Heb je geen account ? Maak een account aan.</a>
                    </p>
                    
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Wachtwoord vergeten ?</h4>
                    <p>Weet je het wachtwoord niet meer? Vul hieronder je e-mailadres in. 
                      We sturen dan binnen enkele minuten een e-mail waarmee een nieuw wachtwoord kan worden aangemaakt.
                    </p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="email" data-ng-model="name3" class="validate" required>
                                <label>E-mail adres</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Verzenden" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                    </form>
                    <div class="success_boodschap col-md-12">
                        <p><i class="fas fa-check-circle fa-2x"></i></p> 
                        <p>Wij hebben u een e-mail gestuurd met een nieuw wachtwoord</p>
                    </div>
                    <div class="fout_boodschap col-md-12">
                        <p><i class="fas fa-times-circle fa-2x"></i></p>
                        <p>Er was een probleem.
                            <br>Probeer het later nog eens of neem contact met ons op.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/cursusdetail.js"></script>
    <script src="js/winkel.js"></script>
    <script src="js/dwapi.js"></script>
 
</body>


</html>